
@font-face {
	font-family: "Sitka";
	src: url('Sitka.ttc');
}
a{
	text-decoration : none;
	color: #f0e2c1;
}

li {
  display: inline;
  margin-right: 7.3em;
  font-family:'Sitka';
  font-size: 1.3em;
  color: #f0e2c1;
}

ul{
	text-align: right;
}


#navbar{
	background-color: #405589;
	padding-top: 0.3em;
	padding-bottom: 0.3em;
    position: fixed;
    top: 0;
    width: 100%;
    display: block;
    transition: top 0.8s;
    z-index: 1000;
}

#navbar > a {
      float: left;
      display: block;
      color: #fff;
      font-weight: 300;
      text-decoration: none;
      margin: 2em 3em;
      font-size: 16px;
     }

#logo{
	position: absolute;
	padding-left: 0.5em;
	padding-right:20em;
	max-width: 4.5%;
}

#home{
	color: black;
}

.Home{
	height: 60em;
	position: relative;
}
body{
	background-color: white;
	margin-right: 0em;
	font-size: auto;
}


#backgroundimg{
	position: absolute;
	padding-left: 20em;
	padding-top: 6em;
	width: 55%;
	z-index: 1;
}



h1{
	
	position: absolute;
	padding-top: 7em;
	padding-left: 15em;
	font-size: 2em;
	color: #405589;
	font-family: 'Sitka', serif;
	z-index: 2;

}

#caca{
	position: absolute;
	padding-top: 20em;
	padding-left: 14em;
	padding-right: 13em;
	text-align: center;
	font-size: 1.2em;
	font-family: 'Sitka';
	z-index: 2;
}

.Jeu{
	background-color: #f3f3f3;
	height: auto;
	font-size: 1.1em;
	font-family: 'Sitka';
	margin-right: 1em;
	    width: 100%;
	
}


h2{
	padding-top: 3em;
	padding-left: 1em;
	font-size: 5em;
	font-family: "Audiowide";
	color: #cccccc;
}
.Jeu > h2{
	padding-top: 1em;


}


#quote1{
	position: relative;
	width: 30em;
	height:10em;
	margin-left: 5em;
	float: left;

	padding-top: 3em;
	max-width: 100%;
}
#quote1 > p{
	color: #405589;
	text-align: center;
	margin-top: 2em;

}
#quote1 > img{
	margin-left: 13em;

	width: 15%;
}
         


#quote2{
	position: relative;
	width: 30em;
	height:10em;
	margin-right: 5em;
	float: right;

	padding-top: 3em;
	max-width: 100%;
}

#quote2 > p{
	color: black;
	text-align: center;
	margin-top: 2em;


}
#quote2 > img{
	margin-left: 13em;
	width: 15%;

}



#quote3{
	position: relative;
	width: 30em;
	height:10em;
	margin-left: 28em;
	padding-top: 20em;
	

}

#quote3 > p{
	color: #6D4F08;
	text-align: center;
	margin-top: 2em;
	padding-right: 0em;


}
#quote3 > img{
	margin-left: 13em;
	width: 15%;
}




#testimg{
    position: relative;
    margin-top: 30em;
    margin-bottom: 2em;
    margin-left: 15.5em;
	overflow: hidden;
    clear: both;
}



.partenaires{
	height: 62em;
}

.partenaires > p{
	padding-left:5em;
	padding-right: 5em;
	text-align: center;
	font-size: 1.1em;
	font-family: "Sitka";

}
#partenaireslogo{
	display: flex;
	justify-content: center;
	justify-content: space-between;
	margin-left: 25em;
	margin-right: 25em;
	margin-top: 8em;
}

#quest1, #quest2, #quest3, #quest4, #quest5, #quest6, #quest7, #quest8{
	border: solid 0.6em;
	border-color:  #e6e6e6;
	padding-left: 2em;
	padding-right:2em;
	margin-left: 14.5em;
	margin-right: 14.8em;
	margin-top: 0em;
	padding-bottom: 2em;
	background-color: white;
	border-radius: 0.3em;

}

#quest{
	font-size: 1.3em;
	text-align: center;
}



input[type=text] {
 background-color:white;
 border: solid 0.2em;
 border-color: #e6e6e6;
 border-radius: 0.2em;
 width: 10em;
 margin-top: 5em;
 }

#button1 {
	
	margin-top: 4em;
	margin-left: 14.5em;
	width: 6em;
	height: 3em;
	font-size: 2em;
	border-color: #32446d;
	border-radius: 0.5em;
	background-color:#405589;
	color: white;
}

#button1:hover{
	color:black;
}

#button2 {
	margin-left: 2em;
	margin-top: 4em;
	width: 6em;
	height: 3em;
	font-size: 2em;
	border-color: #ba922c;
	border-radius: 0.5em;
	background-color:#ba922c;
	color: white;
}

#button2:hover{
	color:black;
}

.apropos{
	height: 100em;
	background-color: #F3F3F3;
}

.apropos > h2{
	padding-top: 1.2em;
}
.apropos >p{
	margin-left: 5em;
	margin-right: 5em;
}



.nous{

	margin-left: 4em;
	margin-right: 4em;
	padding-left: 0em;
	padding-right: 0em;
}

#cam, #eme, #val{
	margin-left: 33em;
	margin-top: 4em;
}
#txtval, #txteme, #txtcam{
	text-align: center; 
	font-size: 1.5em;
	font-family: 'Encode Sans Condensed', sans-serif;
}

@media (max-width: 1024px){
	#testimg{
	margin-left: 0em;
}
 
 	#quest1, #quest2, #quest3, #quest4, #quest5, #quest6, #quest7, #quest8{
 	padding-top: 1em;
 	margin-bottom: 20em;
	margin-left: auto;
	margin-right: auto;
 	}

 	li{
 	margin-left: 0em;
 	font-size: 1.8em;
}
	#logo{
	max-width: 15%; 
	margin-top: 1em;
	}
	#backgroundimg{
	padding-top: 12em;
	padding-left: 15em;
	}
	.Home > h1{
	padding-left: 8em;
	}
	#caca{
	font-size: 130%;
	padding-top: 30em;
	}
	#quote2{
	margin-top: 7em;
	margin-right: 5em;
	}
	#quote3{
	margin-left: 5em;
	margin-top: 30em;
	}
	input[type=text]{
		font-size: 1.4em;
		height: 3em;
		width: 10em;
		margin-left: 12em;
	}
		#button1{
		margin-left: 11em;
		
	}
	#button2{
		margin-left: 11em;
		margin-top: 1em;
		margin-bottom: 5em;
	}
	p{
	font-size: 1.5em;
}

}